<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>校园商城首页</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/shop.css">
</head>
<body>
    <ul class="topmenu">
        <div class="toptitle">
            全部商品分类
        </div>
        <li><a href="#">打印业务</a><span></span>
            <div class="submenu">
                <div class="leftdiv">
                    <dl>
                        <dt><a href="#">论文</a></dt>
                        <dd>
                            <a href="#">论文排版</a> <a href="#">论文打印</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="#">名片</a></dt>
                        <dd>
                            <a href="#">名片设计</a> <a href="#">名片</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="#">横幅</a></dt>
                        <dd>
                            <a href="#">横幅设计</a> <a href="#">横幅批发</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="#">装订</a></dt>
                        <dd>
                            <a href="#">装订</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="#">复印</a></dt>
                        <dd>
                            <a href="#">文档打印</a> <a href="#">照片冲洗</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="#">简历</a></dt>
                        <dd>
                            <a href="#">保密打印</a> <a href="#">简历</a>
                        </dd>
                    </dl>  
                </div>
                <div class="rightdiv">
                    <dl>
                        <dd>
                            <a href="#">
                                <img src="/static/admin/pic/10.jpg" width="194" height="70" title="打印">
                            </a>
                        </dd>
                        <dd>
                            <a href="#">
                                <img src="/static/admin/pic/15.jpg" width="194" height="70" title="打印">
                            </a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>推荐打印店</dt>
                        <dd>
                            <a href="#">北化打印店</a>
                        </dd>
                        <dd>
                            <a href="#">朝阳打印店</a>
                        </dd>
                    </dl>
                    <img class="rightPic" src="http://img.mukewang.com/541120c80001aae401970164.jpg"/>
                </div>
            </div>
        </li>
        <li><a href="#">纸张</a></li>
        <li><a href="#">笔记本</a></li>
        <li><a href="#">创意文化产品</a></li>
        <li><a href="#">笔</a></li>
        <li><a href="#">书籍</a></li>
        <li><a href="#">电脑配件</a></li>
    </ul>
</body>
</html>
