<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/static/admin/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/admin/css/common.css">
<link rel="stylesheet" href="/static/admin/css/default.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/shop.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/lunbo.css">
<script language="javascript" src="/static/admin/js/bootstrap.min.js"></script>
<script language="javascript" src="/static/admin/js/jquery.min.js"></script>
<script language="javascript" src="/static/admin/js/selectNav.js"></script>
<script language="javascript" src="/static/admin/js/common.js"></script>
<script language="javascript" src="/static/admin/js/lunbo.js"></script>
</head>
<body>
<div id="container"> 
  <!--header-->
  <div id="header"> 
    <!--topbar-->
    <div class="topbar">
      <div class="w1000 mar posR">
        <div class="topInfo"><a href="#">用户注册</a> | <a href="#">登录</a> 欢迎您<b><a href="#">&nbsp;{$name}!</a></b></div>
        <ul>
          <li class="dropMenu posR"> <a href="#">我的云印</a>
            <div class="dropMenuList posA"> <i class="arrow"></i> <a href="#">我的帐户</a> <a href="#">密码管理</a> </div>
          </li>
          <li class="mar-l10"><a href="#">我的购物车</a></li>
          <li class="dropMenu posA" style="right:80px;"> <a href="#">我的店铺</a>
            <div class="dropMenuList"> <i class="arrow"></i> <a href="#">我的店铺</a> <a href="#">密码管理</a> </div>
          </li>
          <li class="posA" style="right:0;"><a href="#">新店入驻</a></li>
          </dd>
        </ul>
      </div>
    </div>
    <!--/topbar end--> 
    <!--logo-bar-->
    <div class="logo-bar mar w1000 posR"> <a href="#" class="logo posA"></a>
      <div class="top-city posA">
        <dl class="city clearfix">
          <dt><a href="#" class="city-tab">切换区域</a></dt>
          <dd>北京 市辖区 海淀区 中关村</dd>
        </dl>
        <dl class="school clearfix">
          <dt><a href="#" class="city-tab">切换学校</a></dt>
          <dd>中国人民大学 主校区</dd>
        </dl>
      </div>
      <div class="top-search posA">
        <div id="selectnav" class="search-select fl">
          <div class="select">
            <h2 s-data="0">选择</h2>
            <ul class="select-nav">
              <li><a href="#" s-data="1">职业</a></li>
            </ul>
          </div>
        </div>
        <input type="text" class="fi-search fl" />
        <button type="submit" class="btn btn-search fl" />
      </div>
      <div class="top-keyword posA">&nbsp; 热门关键字：<a href="#">北京语言大学</a> <a href="#">复印</a> <a href="#">打印</a></div>
    </div>
    <!--/logo-bar end--> 
    <!--nav-->
    <div class="nav-cont">
      <div class="nav w1000 mar"> <a href="#" class="on">首页</a> <a href="#">店铺</a> <a href="#">服务</a> <a href="#">客户端</a> <a href="#">诚聘英才</a> <a href="#">关于我们</a> </div>
    </div>
    <!--/nav end--> 
  </div>
  <!--/header end--> 
  
  <!--mainbody-->
  <div id="mainbody">
    <div class="page-pro w1000 mar">
      <div class="page-top">
        <ul class="topmenu">
        <div class="toptitle">
            全部商品分类
        </div>
        <li><a href="#">打印业务</a><span></span>
            <div class="submenu">
                <div class="leftdiv">
                    <dl>
                        <dt><a href="#">论文</a></dt>
                        <dd>
                            <a href="#">论文排版</a> <a href="#">论文打印</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="#">名片</a></dt>
                        <dd>
                            <a href="#">名片设计</a> <a href="#">名片</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="#">横幅</a></dt>
                        <dd>
                            <a href="#">横幅设计</a> <a href="#">横幅批发</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="#">装订</a></dt>
                        <dd>
                            <a href="#">装订</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="#">复印</a></dt>
                        <dd>
                            <a href="#">文档打印</a> <a href="#">照片冲洗</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="#">简历</a></dt>
                        <dd>
                            <a href="#">保密打印</a> <a href="#">简历</a>
                        </dd>
                    </dl>  
                </div>
                <div class="rightdiv">
                    <dl>
                        <dd>
                            <a href="#">
                                <img src="/static/admin/pic/10.jpg" width="194" height="70" title="打印">
                            </a>
                        </dd>
                        <dd>
                            <a href="#">
                                <img src="/static/admin/pic/15.jpg" width="194" height="70" title="打印">
                            </a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>推荐打印店</dt>
                        <dd>
                            <a href="#">北化打印店</a>
                        </dd>
                        <dd>
                            <a href="#">朝阳打印店</a>
                        </dd>
                    </dl>
                    <img class="rightPic" src="http://img.mukewang.com/541120c80001aae401970164.jpg"/>
                </div>
            </div>
        </li>
        <li><a href="#">纸张</a></li>
        <li><a href="#">笔记本</a></li>
        <li><a href="#">创意文化产品</a></li>
        <li><a href="#">笔</a></li>
        <li><a href="#">书籍</a></li>
        <li><a href="#">电脑配件</a></li>
    </ul>
        <div class="slider"> 
          <ul class="slider-main"> 
           <li class="slider-panel"> 
            <a href="#" target="_blank"><img alt="打印" title="打印" src="/static/admin/pic/7.jpg"></a> 
           </li> 
           <li class="slider-panel"> 
            <a href="#" target="_blank"><img alt="打印" title="打印" src="/static/admin/pic/2.jpg"></a> 
           </li> 
           <li class="slider-panel"> 
            <a href="#" target="_blank"><img alt="打印" title="打印" src="/static/admin/pic/5.jpg"></a> 
           </li> 
           <li class="slider-panel"> 
            <a href="#" target="_blank"><img alt="打印" title="打印" src="/static/admin/pic/3.jpg"></a> 
           </li><li class="slider-panel"> 
            <a href="#" target="_blank"><img alt="打印" title="打印" src="/static/admin/pic/6.jpg"></a> 
           </li> 
          </ul> 
          <div class="slider-extra"> 
           <ul class="slider-nav"> 
            <li class="slider-item">1</li> 
            <li class="slider-item">2</li> 
            <li class="slider-item">3</li> 
            <li class="slider-item">4</li> 
            <li class="slider-item">5</li> 
           </ul> 
           <div class="slider-page"> 
            <a class="slider-pre" href="javascript:;;">&lt;</a> 
            <a class="slider-next" href="javascript:;;">&gt;</a> 
           </div> 
          </div> 
         </div>
      </div>
      <div class="shop-block mar-t20">
        <div class="pro-block-content fl">
          <div class="shop-pro">
            <ul>
              <li>
                <a href="#"><img src="/static/admin/pic/10.jpg" width="215" height="205"></a>
                <b>￥1.00</b>
                <span class="intro">彩色打印1元不包邮费，需要的赶快下单</span>
                <span class="info">销量：<i>12342</i> <br><a href="#">评价：342</a></span>				
              </li>
              <li>
                <a href="#"><img src="/static/admin/pic/11.jpg" width="215" height="205"></a>
                <b>￥1.00</b>
                <span class="intro">彩色打印1元不包邮费，需要的赶快下单</span>
                <span class="info">销量：<i>12342</i> <br><a href="#">评价：342</a></span>
              </li>
              <li>
                <a href="#"><img src="/static/admin/pic/12.jpg" width="215" height="205"></a>
                <b>￥1.00</b>
                <span class="intro">彩色打印1元不包邮费，需要的赶快下单</span>
                <span class="info">销量：<i>12342</i> <br><a href="#">评价：342</a></span>
              </li>
              <li>
                <a href="#"><img src="/static/admin/pic/10.jpg" width="215" height="205"></a>
                <b>￥1.00</b>
                <span class="intro">彩色打印1元不包邮费，需要的赶快下单</span>
                <span class="info">销量：<i>12342</i> <br><a href="#">评价：342</a></span>
              </li>
              <li>
                <a href="#"><img src="/static/admin/pic/11.jpg" width="215" height="205"></a>
                <b>￥1.00</b>
                <span class="intro">彩色打印1元不包邮费，需要的赶快下单</span>
                <span class="info">销量：<i>12342</i> <br><a href="#">评价：342</a></span>
              </li>
              <li>
                <a href="#"><img src="/static/admin/pic/12.jpg" width="215" height="205"></a>
                <b>￥1.00</b>
                <span class="intro">彩色打印1元不包邮费，需要的赶快下单</span>
                <span class="info">销量：<i>12342</i> <br><a href="#">评价：342</a></span>
              </li>
              <p class="clear"></p>
            </ul>
          </div>
          <div class="shop-page">
            <nav class="pull-right">
                <ul class="pagination">
                  <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li> <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                </ul>
              </nav>
          </div>
        </div>
        <div class="pro-block-sidebar fl mar-l10">
          <div class="sidebox">
            <h2>打印店地址</h2>
            <p><img src="/static/admin/pic/13.jpg" width="215"></p>
          </div> 
          <div class="sidebox">
            <h2>工作时间</h2>
            <p>上班时间：8:00</p>
			<p>下班时间：20:00</p>
          </div> 
        </div>
        <p class="clear"></p>
      </div>
      <!--pro-blcok--> 
    </div>
  </div>
  <!--/mainbody--> 
  
  <!--footer-->
  <div id="footer" class="mar-t50">
    <div class="w1000 mar">
      <div class="footer-links clearfix">
        <dl>
          <dt>客户服务</dt>
          <dd><a href="#">· 打印服务</a> <a href="#">· 商务打印</a> <a href="#">· 图像服务</a> <a href="#">· 广告服务</a> </dd>
        </dl>
        <dl>
          <dt>用户中心</dt>
          <dd><a href="#">· 用户协议</a> <a href="#">· 服务流程</a> <a href="#">· 词汇百科</a> <a href="#">· 常见问题</a> </dd>
        </dl>
        <dl>
          <dt>店铺中心</dt>
          <dd><a href="#">· 店铺协议</a> <a href="#">· 店铺入驻</a> <a href="#">· 店铺管理</a> <a href="#">· 常见问题</a> </dd>
        </dl>
        <dl>
          <dt>关于我们</dt>
          <dd><a href="#">· 公司简介</a> <a href="#">· 新闻中心</a> <a href="#">· 诚聘英才</a> <a href="#">· 联系我们</a> </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="footer-copy">Copyright © 2013-2015 <a href="http://www.jikexueyuan.com/" target="_blank">云印科技</a> All Rights Reversed. 京ICP备11018056号</div> 
  <!--/footer end-->   
</div>
</body>
</html>